* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

header {
    position: relative;
}

header .bg {
    position: absolute;
    width: 100%;
}

header .bg-mobile {
    display: none;
}

header .text h1 {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 0.7rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 5.5rem;
    text-align: center;
}

header .text {
    position: absolute;
    left: 0;
    top: 120%;
    width: 100%;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
    padding:  2.5rem;
}

header nav .logo img {
    width: 170px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}



.navbar-links li {
    list-style: none;
}

.navbar .navbar-links .contact {
    background-color: #fff;
    color: black;
    border-radius: 30px;
    margin-left: 1.5rem;
}


.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.7rem;
    display: block;
    font-size: 1.2rem;
}

.navbar-links li:hover > a {
    opacity: 0.8;
}

.navbar .navbar-links .contact:hover {
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    border-radius: 30px;
    margin-left: 1.5rem;
}


/* Toggle Button */


.toggle-button {
    position: absolute;
    top: 2.8rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    z-index: 99;
}

.toggle-button .bar {
    height:3px ;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width:600px) {
    
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;
        z-index: 99;
    }

    .navbar-links ul {
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 8rem;
        left: 8%;
        right: 8%;
        padding: 1.8rem;
    }

    .navbar-links ul::before {
        content: '';
        background-color: #fff;
        height: 35px;
        width: 30px;
        position: absolute;
        transform: skewY(-50deg);
        top: 0;
        right: 0;
    }

    .navbar .navbar-links .contact {
        background-color: hsl(51, 100%, 49%);
        color: black;
        margin-left: 0;
        margin-top: 1rem;
    }

    .navbar-links li a {
        color: hsl(213, 9%, 39%);
        margin-bottom: 0.5rem;
    }

     
    header .bg {
        display: none;
    }

    header .bg-mobile {
        display: block;
        width: 100%;
        position: absolute;
    }
    header .text h1 {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }
}










































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }