* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 55.55% /* (img-height / img-width * container-width) */;
}



header .text h1 {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 0.7rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 5.5rem;
    text-align: center;
}

header .text {
    position: absolute;
    left: 0;
    top: 22%;
    width: 100%;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: absolute;
    padding:  2.5rem;
    top: 0;
    right: 0;
    left: 0;
}

header nav .logo img {
    width: 170px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}



.navbar-links li {
    list-style: none;
}

.navbar .navbar-links .contact {
    background-color: #fff;
    color: black;
    border-radius: 30px;
    margin-left: 1.5rem;
}


.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.7rem;
    display: block;
    font-size: 1.2rem;
}

.navbar-links li:hover > a {
    opacity: 0.8;
}

.navbar .navbar-links .contact:hover {
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    border-radius: 30px;
    margin-left: 1.5rem;
}

/* Section One Transform */
.transform {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.transform .section-image {
    background-image: url(../images/desktop/image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 41.66% ;
}

.transform .section-text {
    width: calc(100% - 18rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem 9rem;
}

.section-text h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.6rem;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.section-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: hsl(232, 10%, 55%);
    margin-bottom: 1.5rem;
}

.section-text h4 a {
    text-decoration: none;
    text-align: left;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    padding-left: 0.5rem;
}

.transform .section-text h4::after {
    display: block;
    content: "";
    height: 0.7rem;
    width: 8.5rem;
    border-radius: 3px;
    background-color: hsl(51, 100%, 49%);
    opacity: 0.4;
    position: relative;
    top: -8px;
    z-index: -1;
}

.transform .section-text h4:hover::after {
    opacity: 1;
}

/* Section Two Stand Out */

.stand-out {
    display: flex;
    flex-direction: row;
}
.stand-out .section-image {
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 44.66%;
}

.stand-out .section-text {
    width: calc(100% - 16rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem 8rem;
}

.stand-out .section-text h4::after {
    display: block;
    content: "";
    height: 0.7rem;
    width: 8.5rem;
    border-radius: 3px;
    background-color: hsl(7, 99%, 70%);
    opacity: 0.4;
    position: relative;
    top: -8px;
    z-index: -1;
}

.stand-out .section-text h4:hover::after {
    opacity: 1;
}

/* Section Three Photos */

.photos {
    display: flex;
}

.photos .photography-image,
.photos .graphic-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 41.66%;
}

.photos .graphic-image {
    background-image: url(../images/desktop/image-graphic-design.jpg);
}
.photos .photography-image {
    background-image: url(../images/desktop/image-photography.jpg);
}

.photos .text-area {
    position: absolute;
    bottom: 0;
    padding: 0 12rem 4rem;
    text-align: center;
}

.photos .text-area h2 {
    text-transform: capitalize;
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 2rem;
}

.photos .text-area p {
    font-size: 1rem;
}

.photos .graphic-image .text-area {
    color: hsl(167, 40%, 24%);
}

.photos .photography-image .text-area {
    color: hsl(198, 62%, 26%);
}


/* Toggle Button */


.toggle-button {
    position: absolute;
    top: 2.8rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    z-index: 99;
}

.toggle-button .bar {
    height:3px ;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



@media (max-width:600px) {
    
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;
        z-index: 99;
    }

    .navbar-links ul {
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 8rem;
        left: 8%;
        right: 8%;
        padding: 1.8rem;
    }

    .navbar-links ul::before {
        content: '';
        background-color: #fff;
        height: 35px;
        width: 30px;
        position: absolute;
        transform: skewY(-50deg);
        top: 0;
        right: 0;
    }

    .navbar .navbar-links .contact {
        background-color: hsl(51, 100%, 49%);
        color: black;
        margin-left: 0;
        margin-top: 1rem;
    }

    .navbar-links li a {
        color: hsl(213, 9%, 39%);
        margin-bottom: 0.5rem;
    }

    header {
        background-image: url(../images/mobile/image-header.jpg);
        padding-top: 143.46% /* (img-height / img-width * container-width) */;
    }
     
    header .text {
        top: 9rem;
    }

    header .text h1 {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

    /* Section One Transform */


    .transform,
    .stand-out {
        flex-direction: column;
    }

    .transform .section-image {
        background-image: url(../images/mobile/image-transform.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 83.2%;
    }    

    .transform .section-text,
    .stand-out .section-text {
        width: 100%;
        padding: 2rem;
        align-items: center;
    }

    .stand-out .section-text h1,
    .transform .section-text h1 {
        font-size: 1.9rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .stand-out .section-text p,
    .transform .section-text p {
        text-align: center;
        line-height: 1.6;
        color: hsl(232, 10%, 55%);
        margin-bottom: 1.5rem;
    }

    /* Section Two Stand Out */

    .stand-out .section-image {
        background-image: url(../images/desktop/image-stand-out.jpg);
        padding-top: 83.2%;
    }

    
}









































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }